img{
    height: 210px;
    opacity: 0;

}
.game-table div{ 
       width: 140px;
       background-image: url("./img/рубашка.PNG");
       background-repeat: no-repeat;
       background-size: contain;
    }
.visible{
    opacity: 1;
}
.header{
    display: flex;
    padding: 0px 200px;
}
.count {
    color: #2EE59D;
}
.time{
    color: brown;
}
.text{
    font-size: 40px;
}
.game-table{
    width: 800px;
    height: 880px;
    display: grid;
    grid: 1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: auto;
}
.new-game-button{
    display: block;
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    line-height: 45px;
    border-radius: 45px;
    margin: 15px auto;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.03s;
}
.new-game:active {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(3px);
  }
.new-game:focus {
    outline: none;
}
@media (max-width: 769px) {
    img{
        height: 170px;
    }
    .game-table div{ 
        width: 114px;
        height: 170px;
    }
    .game-table{
        width: 460px;
        height: 820px;
    }
}
